/C/Client/Library/metadata/00
/C/Client/Library
/C/Client/Temp
/C/Client/*.csproj
/C/ClientLib/AppCore/obj/Debug/*.cache
/C/ClientLib/.vs/App/v14/*.suo
/C/ClientLib/.vs/ClientLib/v14/*.suo
/C/Client/.vs/Client/v14/*.suo
/Projects
/Libs/Source
/Libs/protoc-3.0.0-win32
/Libs/Projects
/Libs/src/protobuf-cpp-3.0.0/protobuf-3.0.0
/Libs/project/protobuf-cpp-3.0.0/protobuf-3.0.0
/Libs/project
/Libs/src
/Libs/Release
/S/thread/*.filters
/S/Client/Application/Application/bin/Debug/*.config
/S/Client/Application/Application/bin
/S/Scripts/*.userprefs
/S/bin/Debug/appbase.lib
/S/bin/Debug/basic.lib
/S/appcenter/Debug/*.idb
/S/appgame/Debug/vc141.idb
/S/bin/Debug/appgame.exe
/SLinux/Servers/bin
/SLinux/Servers/Debug
/SLinux/Servers/x64
/SLinux/Servers/.vs
.vs
/SLinux/lib/Debug
/SLinux/Servers/basic/bin/x64/Debug
/SLinux/Test/Debug
TestLinux.tlog
*.lastbuildstate
*.user
*.tlog
*.idb
*.recipe
*.merged
*.obj
*.pdb
*.log
*.pch
/SLinux/Test/x64/Debug/LocalTest.exe
/SLinux/Test/x64/Debug/LocalTest.ilk
/SLinux/Test/Timers/Debug
*.cache
/SLinux/Test/bin/Debug/TestLinux.out
/SLinux/Test/TestLinux/bin/x64/Release/TestLinux.out
*.apk
/SLinux/Test/bin
/SLinux/Test/TestLCPP/bin/x64/Debug/TestLCPP.out
