/C/Client/Library/metadata/00
/C/Client/Library
/C/Client/Temp
/C/Client/*.csproj
/C/ClientLib/AppCore/obj/Debug/*.cache
/C/ClientLib/.vs/App/v14/*.suo
/C/ClientLib/.vs/ClientLib/v14/*.suo
/C/Client/.vs/Client/v14/*.suo
/Projects
/Libs/Source
/Libs/protoc-3.0.0-win32
/Libs/Projects
/Libs/src/protobuf-cpp-3.0.0/protobuf-3.0.0
/Libs/project/protobuf-cpp-3.0.0/protobuf-3.0.0
/Libs/project
/Libs/src
/Libs/Release
/S/thread/*.filters
/S/Client/Application/Application/bin/Debug/*.config
/S/Client/Application/Application/bin
/S/Scripts/*.userprefs
/S/bin/Debug/appbase.lib
/S/bin/Debug/basic.lib
