/ipch
/Core/Debug/*.obj
/Debug/*.pdb
/*.sdf
*.tlog
/Default/Debug/*.log
*.obj
*.ilk
*.pdb
*.cache
/centerapp/Debug/*.log
*.pch

.vs
.vs

/*.db
/Libs/PocoCppUnitd.pdb
/Libs/cpspc.pdb
/Libs/PocoDataSQLited.dll
/Libs/PocoRedisd.ilk
/Libs/f2cpsp.pdb
/Libs/PocoXMLd.dll
/Libs/cpspc.ilk
/Libs/PocoCppUnitd.ilk
/Libs/PocoUtild.dll
/Libs/PocoJSONd.dll
/Libs/PocoNetSSLWind.dll
/Libs/f2cpsp.ilk
/Libs/PocoZipd.dll
/Libs/PocoMongoDBd.dll
/Libs/PocoRedisd.dll
/Libs/PocoCppUnitd.dll
/Libs/cpspc.exe
/Libs/f2cpsp.exe
/Libs/PocoDatad.pdb
/Libs/PocoDataODBCd.pdb
/Libs/PocoFoundationd.pdb
/Libs/PocoFoundationd.ilk
/Libs/PocoDataODBCd.ilk
/Libs/PocoDatad.ilk
/Libs/PocoNetd.pdb
/Libs/PocoNetd.ilk
/Libs/PocoDataSQLited.pdb
/Libs/PocoUtild.pdb
/Libs/PocoXMLd.pdb
/Libs/PocoNetSSLWind.pdb
/Libs/PocoZipd.pdb
/Libs/PocoJSONd.pdb
/Libs/PocoUtild.ilk
/Libs/PocoXMLd.ilk
/Libs/PocoDatad.dll
/Libs/PocoZipd.ilk
/Libs/PocoNetSSLWind.ilk
/Libs/PocoFoundationd.dll
/Libs/PocoMongoDBd.pdb
/Libs/PocoDataSQLited.ilk
/Libs/PocoJSONd.ilk
/Libs/PocoMongoDBd.ilk
/Libs/PocoDataODBCd.dll
/Libs/PocoRedisd.pdb
/Libs/PocoNetd.dll
/*.userprefs
/PKG/*.user
/Debug
/Core/Debug/*.log
/Core/Debug/*.idb
/PKG/Debug/*.idb
/PKG/Debug/*.log
/*.opendb
/Test/Debug/*.log
/Test/Debug/*.idb
/centerapp/Debug/*.idb
/loginapp/Debug/*.log
/loginapp/Debug/*.idb
/Default/*.user
/bin/Debug/pkg.lib
/bin/Debug/Common.lib
/bin/Debug/Core.dll
/bin/Debug/Core.exp
/bin/Debug/Core.lib
/bin/Debug/game.loginapp.exe
/Test/Debug
/bin/Debug/*.exp
/bin/Debug/game.centerapp.lib
/bin/Debug/game.loginapp.lib
/bin/Debug/*.tmp
/bin/Debug/Microsoft.DTfW.DHL.manifest
/bin/Debug/dbghelp.dll
/bin/Debug/vld_x64.dll
/Test/memory_leak_report.txt
/Test/x64/Debug
/bin/Debug/COUT
/appgame/Debug/*.log
/bin/Debug/appbase.dll
/bin/Debug/appcenter.exe
/appcenter/Debug/*.log
